.quiz-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 0.5px solid #e7e7e738;
  padding-top: 0.5rem;
}

.delete-icon-btn {
  display: none;
}

.quiz-item {
  display: flex;
  gap: 10px;
  padding: 5px 0;
}

.quiz-item__text {
  margin: 0;
  line-height: 25px;
  width: 100%;
  outline: none;
}

.icon-button {
  all: unset;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100rem;
}

.icon-button:hover {
  background-color: rgb(236, 236, 236);
}

.icon-button__small {
  --size: 1.6rem;
  width: var(--size);
  height: var(--size);
}

.icon-button__medium {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  font-size: 1.4rem;
}

.quiz-button {
  all: unset;
  border: 1px solid gray;
  padding: 0.4rem 0.7rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
